<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Blog Ninja | <%= title %>
    </title>
</head>
<body>
<nav>
    <div class="set-title">
        <a href="/"><h1>Blog Ninja</h1></a>
        <p>A Net Ninja Site</p>
    </div>
    <ul>
        <li>
            <a href="/">Blogs</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/blogs/create">New Blog</a>
        </li>
    </ul>
</nav>

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ante est. Nunc ac dui et lectus iaculis lobortis. Phasellus fermentum urna varius nibh finibus, id rhoncus massa feugiat. Donec non leo id purus ultricies fringilla. Duis venenatis euismod dapibus. Aliquam nec odio quis tortor feugiat iaculis. Aenean eget magna justo. Morbi fringilla fermentum lorem, ac finibus lorem interdum tincidunt. Cras auctor tortor in sem ullamcorper sagittis. Sed non leo eget ex tincidunt fermentum.

        Sed at ex ut nisi feugiat ullamcorper. Nulla vitae efficitur lacus, ac accumsan augue. Ut magna nulla, semper at metus fermentum, vulputate consequat eros. Proin ac placerat nisl, id ultricies felis. Duis vulputate tortor justo, ac vehicula nunc dictum sit amet. Quisque varius vehicula justo, tempus hendrerit magna maximus in. Aenean elementum quam non eros iaculis mollis. Mauris pharetra orci id elit ullamcorper tempus. Integer pharetra, nisl eget vestibulum convallis, velit ex scelerisque massa, eu gravida dolor enim vitae metus.

        Suspendisse potenti. Maecenas eget tincidunt velit, at maximus orci. Nam iaculis, justo nec mollis commodo, purus massa lobortis erat, in dignissim arcu justo eget neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tortor nunc, aliquam id leo et, porta vestibulum ligula. Phasellus lobortis orci auctor eros tincidunt, id volutpat mi iaculis. Aliquam hendrerit dolor nisi, id tempus mauris interdum nec. Praesent ac posuere urna, nec porta sem. Etiam faucibus, felis et aliquam semper, purus tellus gravida augue, eu efficitur ipsum odio in arcu.

        Morbi orci ligula, suscipit eget lacus at, ullamcorper posuere quam. Fusce ultrices lectus in nulla tristique, ac porttitor dui ornare. In hac habitasse platea dictumst. Nunc tristique eget risus nec malesuada. Maecenas non purus leo. Duis in velit feugiat, hendrerit ex eget, lacinia orci. Nulla ac pellentesque libero, non tincidunt enim. Nunc neque est, euismod a lacus ac, placerat scelerisque ante.

        Nam ante nunc, hendrerit non placerat non, luctus vitae tortor. Pellentesque malesuada neque ipsum, a ornare magna faucibus vel. Duis vehicula, nunc vel mollis feugiat, magna est sagittis felis, nec posuere quam neque nec urna. Maecenas vestibulum ante nec posuere blandit. Cras vitae posuere augue. Vestibulum iaculis magna nisi, nec suscipit odio sollicitudin dapibus. Donec purus erat, ultrices sit amet dapibus quis, rhoncus nec purus. Fusce sodales lectus ante. Morbi bibendum eleifend molestie. Nunc luctus mi at orci sagittis, hendrerit iaculis elit volutpat. Proin pretium lorem nec justo mattis lobortis. Fusce porta blandit mauris, eu vestibulum lorem tincidunt ac. Donec diam sem, gravida quis tincidunt ac, vestibulum vel mauris. Praesent accumsan nunc elementum magna iaculis sollicitudin. Donec fermentum nulla erat, ut ullamcorper lacus aliquet quis. Aenean interdum elementum tincidunt.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ante est. Nunc ac dui et lectus iaculis lobortis. Phasellus fermentum urna varius nibh finibus, id rhoncus massa feugiat. Donec non leo id purus ultricies fringilla. Duis venenatis euismod dapibus. Aliquam nec odio quis tortor feugiat iaculis. Aenean eget magna justo. Morbi fringilla fermentum lorem, ac finibus lorem interdum tincidunt. Cras auctor tortor in sem ullamcorper sagittis. Sed non leo eget ex tincidunt fermentum.

        Sed at ex ut nisi feugiat ullamcorper. Nulla vitae efficitur lacus, ac accumsan augue. Ut magna nulla, semper at metus fermentum, vulputate consequat eros. Proin ac placerat nisl, id ultricies felis. Duis vulputate tortor justo, ac vehicula nunc dictum sit amet. Quisque varius vehicula justo, tempus hendrerit magna maximus in. Aenean elementum quam non eros iaculis mollis. Mauris pharetra orci id elit ullamcorper tempus. Integer pharetra, nisl eget vestibulum convallis, velit ex scelerisque massa, eu gravida dolor enim vitae metus.

        Suspendisse potenti. Maecenas eget tincidunt velit, at maximus orci. Nam iaculis, justo nec mollis commodo, purus massa lobortis erat, in dignissim arcu justo eget neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tortor nunc, aliquam id leo et, porta vestibulum ligula. Phasellus lobortis orci auctor eros tincidunt, id volutpat mi iaculis. Aliquam hendrerit dolor nisi, id tempus mauris interdum nec. Praesent ac posuere urna, nec porta sem. Etiam faucibus, felis et aliquam semper, purus tellus gravida augue, eu efficitur ipsum odio in arcu.

        Morbi orci ligula, suscipit eget lacus at, ullamcorper posuere quam. Fusce ultrices lectus in nulla tristique, ac porttitor dui ornare. In hac habitasse platea dictumst. Nunc tristique eget risus nec malesuada. Maecenas non purus leo. Duis in velit feugiat, hendrerit ex eget, lacinia orci. Nulla ac pellentesque libero, non tincidunt enim. Nunc neque est, euismod a lacus ac, placerat scelerisque ante.

        Nam ante nunc, hendrerit non placerat non, luctus vitae tortor. Pellentesque malesuada neque ipsum, a ornare magna faucibus vel. Duis vehicula, nunc vel mollis feugiat, magna est sagittis felis, nec posuere quam neque nec urna. Maecenas vestibulum ante nec posuere blandit. Cras vitae posuere augue. Vestibulum iaculis magna nisi, nec suscipit odio sollicitudin dapibus. Donec purus erat, ultrices sit amet dapibus quis, rhoncus nec purus. Fusce sodales lectus ante. Morbi bibendum eleifend molestie. Nunc luctus mi at orci sagittis, hendrerit iaculis elit volutpat. Proin pretium lorem nec justo mattis lobortis. Fusce porta blandit mauris, eu vestibulum lorem tincidunt ac. Donec diam sem, gravida quis tincidunt ac, vestibulum vel mauris. Praesent accumsan nunc elementum magna iaculis sollicitudin. Donec fermentum nulla erat, ut ullamcorper lacus aliquet quis. Aenean interdum elementum tincidunt.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ante est. Nunc ac dui et lectus iaculis lobortis. Phasellus fermentum urna varius nibh finibus, id rhoncus massa feugiat. Donec non leo id purus ultricies fringilla. Duis venenatis euismod dapibus. Aliquam nec odio quis tortor feugiat iaculis. Aenean eget magna justo. Morbi fringilla fermentum lorem, ac finibus lorem interdum tincidunt. Cras auctor tortor in sem ullamcorper sagittis. Sed non leo eget ex tincidunt fermentum.

        Sed at ex ut nisi feugiat ullamcorper. Nulla vitae efficitur lacus, ac accumsan augue. Ut magna nulla, semper at metus fermentum, vulputate consequat eros. Proin ac placerat nisl, id ultricies felis. Duis vulputate tortor justo, ac vehicula nunc dictum sit amet. Quisque varius vehicula justo, tempus hendrerit magna maximus in. Aenean elementum quam non eros iaculis mollis. Mauris pharetra orci id elit ullamcorper tempus. Integer pharetra, nisl eget vestibulum convallis, velit ex scelerisque massa, eu gravida dolor enim vitae metus.

        Suspendisse potenti. Maecenas eget tincidunt velit, at maximus orci. Nam iaculis, justo nec mollis commodo, purus massa lobortis erat, in dignissim arcu justo eget neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec tortor nunc, aliquam id leo et, porta vestibulum ligula. Phasellus lobortis orci auctor eros tincidunt, id volutpat mi iaculis. Aliquam hendrerit dolor nisi, id tempus mauris interdum nec. Praesent ac posuere urna, nec porta sem. Etiam faucibus, felis et aliquam semper, purus tellus gravida augue, eu efficitur ipsum odio in arcu.

        Morbi orci ligula, suscipit eget lacus at, ullamcorper posuere quam. Fusce ultrices lectus in nulla tristique, ac porttitor dui ornare. In hac habitasse platea dictumst. Nunc tristique eget risus nec malesuada. Maecenas non purus leo. Duis in velit feugiat, hendrerit ex eget, lacinia orci. Nulla ac pellentesque libero, non tincidunt enim. Nunc neque est, euismod a lacus ac, placerat scelerisque ante.

        Nam ante nunc, hendrerit non placerat non, luctus vitae tortor. Pellentesque malesuada neque ipsum, a ornare magna faucibus vel. Duis vehicula, nunc vel mollis feugiat, magna est sagittis felis, nec posuere quam neque nec urna. Maecenas vestibulum ante nec posuere blandit. Cras vitae posuere augue. Vestibulum iaculis magna nisi, nec suscipit odio sollicitudin dapibus. Donec purus erat, ultrices sit amet dapibus quis, rhoncus nec purus. Fusce sodales lectus ante. Morbi bibendum eleifend molestie. Nunc luctus mi at orci sagittis, hendrerit iaculis elit volutpat. Proin pretium lorem nec justo mattis lobortis. Fusce porta blandit mauris, eu vestibulum lorem tincidunt ac. Donec diam sem, gravida quis tincidunt ac, vestibulum vel mauris. Praesent accumsan nunc elementum magna iaculis sollicitudin. Donec fermentum nulla erat, ut ullamcorper lacus aliquet quis. Aenean interdum elementum tincidunt.
    </p>
</div>

</body>
</html>